<app-header></app-header>

<main class="main">

  <router-outlet></router-outlet>
  
  <div class="container">

    <div class="row">
      <div class="col-12">
        <app-device-list></app-device-list>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <form>
          <div class="mb-3">
            <label for="employeeID" class="form-label">Emplyee ID</label>
            <input type="number" class="form-control" name="employeeID" [(ngModel)]="empID">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-12">
        <p>Employee Details : {{ empID }}</p>
      </div>
    </div>

  </div>

</main>

<app-footer></app-footer>